<!DOCTYPE html>
<html lang="pt-br" ng-app="Stockontrol">
<head>
	<meta charset="UTF-8" />
	<title>Controle de Estoque</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/webjars/angular-material/1.0.6/angular-material.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/webjars/angular-material-data-table/0.9.14/dist/md-data-table.css">
	<link rel="stylesheet" href="/resources/css/style.css">
</head>
<body ng-controller="MainController" ng-cloak layout="column">
	<md-toolbar>
		<div class="md-toolbar-tools" layout="row">
			<md-button class="md-icon-button" aria-label="Menu" ng-click="openMenu()">
				<md-icon>menu</md-icon>
			</md-button>
			<div ng-include="header.location" class="header-partial"></div>
			<span flex></span>
			<span style="font-size: 70%">{{currentUser.email}}</span>
			<md-menu>
				<md-button ng-click="openLogoutMenu($mdOpenMenu, $event)" class="md-icon-button" aria-label="Menu">
					<md-icon md-menu-origin aria-label="Opções">more_vert</md-icon>
				</md-button>
				<md-menu-content>
					<md-button ng-click="logout()">
						Sair
					</md-button>
				</md-menu-content>
			</md-menu>
		</div>
	</md-toolbar>
	<div ui-view></div>
	<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="leftMenu" layout="column">
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				<h2>
					<span>Menu</span>
				</h2>
			</div>
		</md-toolbar>
		<md-content>
			<md-list>
				<md-list-item ng-click="goTo('batches')">
					Estoque
				</md-list-item>
				<md-list-item ng-click="goTo('products')">
					Produtos
				</md-list-item>
				<md-list-item ng-click="goTo('categories')">
					Categorias
				</md-list-item>
				<md-list-item ng-click="goTo('users')">
					Usuários
				</md-list-item>
			</md-list>
		</md-content>
	</md-sidenav>
	<!-- deps -->
	<script src="/webjars/angularjs/1.5.0/angular.js"></script>
	<script src="/webjars/angular-animate/1.5.0/angular-animate.js"></script>
	<script src="/webjars/angular-aria/1.5.0/angular-aria.js"></script>
	<script src="/webjars/angular-messages/1.5.0/angular-messages.js"></script>
	<script src="/webjars/angular-material/1.0.6/angular-material.js"></script>
	<script src="/webjars/angular-ui-router/0.2.18/release/angular-ui-router.js"></script>
	<script src="/webjars/angular-material-data-table/0.9.14/dist/md-data-table.js"></script>
	<script src="/webjars/momentjs/2.12.0/moment.js"></script>
	<!-- dwr -->
	<script type="text/javascript" src="/dwr/engine.js"></script>
	<script type="text/javascript" src="/dwr/interface/userService.js"></script>
	<script type="text/javascript" src="/dwr/interface/productService.js"></script>
	<script type="text/javascript" src="/dwr/interface/batchService.js"></script>
	<!-- app -->
	<script src="/resources/js/stockontrol.js"></script>
	<!-- directives -->
	<script src="/resources/js/directives/compareTo.js"></script>
	<script src="/resources/js/directives/validateUserEmail.js"></script>
	<script src="/resources/js/directives/datePicker.js"></script>
	<!-- controllers -->
	<script src="/resources/js/controllers/abstract/BaseController.js"></script>
	<script src="/resources/js/controllers/abstract/FormController.js"></script>
	<script src="/resources/js/controllers/abstract/NewController.js"></script>
	<script src="/resources/js/controllers/abstract/EditController.js"></script>
	<script src="/resources/js/controllers/MainController.js"></script>
	<!-- users -->
	<script src="/resources/js/controllers/UsersController.js"></script>
	<script src="/resources/js/controllers/users/NewUserController.js"></script>
	<script src="/resources/js/controllers/users/EditUserController.js"></script>
	<!-- categories -->
	<script src="/resources/js/controllers/CategoriesController.js"></script>
	<script src="/resources/js/controllers/categories/NewCategoryController.js"></script>
	<script src="/resources/js/controllers/categories/EditCategoryController.js"></script>
	<!-- products -->
	<script src="/resources/js/controllers/ProductsController.js"></script>
	<script src="/resources/js/controllers/products/NewProductController.js"></script>
	<script src="/resources/js/controllers/products/EditProductController.js"></script>
	<!-- batches -->
	<script src="/resources/js/controllers/BatchesController.js"></script>
	<script src="/resources/js/controllers/batches/NewBatchController.js"></script>
	<script src="/resources/js/controllers/batches/EditBatchController.js"></script>
</body>
</html>
