<!DOCTYPE html>
<html lang="pt-br" ng-app="StockontrolLogin">
<head>
	<meta charset="UTF-8" />
	<title>Controle de Estoque &bull; Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/webjars/angular-material/1.0.6/angular-material.css">
	<link rel="stylesheet" href="/resources/css/style.css">
</head>
<body ng-controller="LoginController" ng-cloak>
	<div style="padding-top: 50px">
		<div layout="column" class="login-box-container" md-whiteframe="1">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2><span>Controle de Estoque</span></h2>
				</div>
			</md-toolbar>
			<md-progress-linear md-mode="indeterminate" ng-if="model.loading"></md-progress-linear>
			<md-content flex layout-padding>
				<form layout="column" name="form" ng-submit="handleLogIn()">
					<md-input-container>
						<label>Email</label>
						<input type="email" ng-model="model.user.email" required>
					</md-input-container>
					<md-input-container>
						<label>Senha</label>
						<input type="password" ng-model="model.user.password" required>
					</md-input-container>

					<md-button class="md-raised md-primary" type="submit">
						Entrar
					</md-button>
				</form>
			</md-content>
		</div>
	</div>
	<script src="/webjars/angularjs/1.5.0/angular.js"></script>
	<script src="/webjars/angular-animate/1.5.0/angular-animate.js"></script>
	<script src="/webjars/angular-aria/1.5.0/angular-aria.js"></script>
	<script src="/webjars/angular-messages/1.5.0/angular-messages.js"></script>
	<script src="/webjars/angular-material/1.0.6/angular-material.js"></script>
	<script src="/resources/js/controllers/LoginController.js"></script>
</body>
</html>
