<form name="productForm" layout="column">
	<div ng-init="setForm(productForm)"></div>
	<md-input-container class="md-block">
		<label>Nome</label>
		<input type="text" name ng-model="product.name" required>
		<div ng-messages="productForm.name.$error">
			<div ng-message="required">Este campo é necessário.</div>
		</div>
	</md-input-container>
	<md-input-container class="md-block">
		<label>Preço</label>
		<input type="number" name ng-model="product.price" required>
		<div ng-messages="productForm.price.$error">
			<div ng-message="required">Este campo é necessário.</div>
		</div>
	</md-input-container>
	<md-input-container class="md-block">
		<label>Categoria</label>
		<md-select ng-model="product.categoryId" name="category">
			<md-option ng-repeat="category in categories" ng-value="category.id">{{category.name}}</md-option>
		</md-select>
		<div ng-messages="productForm.category.$error">
			<div ng-message="required">Este campo é necessário.</div>
		</div>
	</md-input-container>
</form>
