<md-toolbar class="md-hue-1 filter-toolbar">
	<div class="md-toolbar-tools" layout="row">
		<md-input-container>
			<label>Categoria</label>
			<md-select ng-model="model.filterData.categoryId">
				<md-option ng-value="null">Categoria</md-option>
				<md-option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</md-option>
			</md-select>
		</md-input-container>
		<span flex></span>
		<div class="search-box">
			<md-icon>search</md-icon>
			<input type="text" ng-model="model.filterData.name" ng-model-options="{debounce: 500}" ng-keyup="handleSearchBoxKeyPress($event)">
		</div>
	</div>
</md-toolbar>
<md-progress-linear md-mode="indeterminate" ng-style="{'visibility': (tasks > 0) ? 'visible' : 'hidden'}"></md-progress-linear>
<div class="container md-whiteframe-1dp">
	<md-table-container>
		<table md-table class="data-table">
			<thead md-head md-order="model.order" md-on-reorder="sortTable" md-progress="fetchPromise">
				<tr md-row>
					<th md-column class="wide" md-order-by="name">Nome</th>
					<th md-column md-order-by="category.name">Categoria</th>
					<th md-column md-order-by="price">Preço</th>
					<th md-column md-order-by="batchCount">Total do Estoque</th>
					<th md-column md-order-by="expiringBatchCount">Itens a Vencer</th>
					<th md-column md-order-by="expiredBatchCount">Itens Vencidos</th>
					<th md-column>Ações</th>
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row ng-repeat="product in model.request.content">
					<td md-cell class="wide">{{product.name}}</td>
					<td md-cell>{{product.category.name}}</td>
					<td md-cell>{{product.price}}</td>
					<td md-cell>{{product.batchCount == null ? '0' : product.batchCount}}</td>
					<td md-cell>{{product.expiringBatchCount == null ? '0' : product.expiringBatchCount}}</td>
					<td md-cell>{{product.expiredBatchCount == null ? '0' : product.expiredBatchCount}}</td>
					<td md-cell style="text-align: right">
						<md-button class="md-raised" ng-click="openEditProduct(product.id)">Editar</md-button>
					</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
	<div ng-include="'/resources/views/partials/table-pagination.html'"></div>
</div>
<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="rightPanel" layout="column">
	<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">
			<h2><span>{{product.name}}</span></h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-if="identity.admin()" ng-click="destroy(product)"><md-icon>delete</md-icon></md-button>
		</div>
	</md-toolbar>
	<md-content layout-padding>
		<div ng-include="'/resources/views/products/products-edit.html'"></div>
	</md-content>
</md-sidenav>
