<md-dialog ng-cloak ng-controller="NewBatchController" style="width: 500px">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Entrada de Produto</h2>
			<span flex></span>
			<md-button ng-click="cancel()" class="md-icon-button">
				<md-icon>close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content layout-padding>
		<form name="batchForm">
			<div ng-init="setForm(batchForm)"></div>
			<md-input-container class="md-block">
				<label>Produto</label>
				<md-autocomplete
						md-delay="500"
						md-search-text="searchText"
						md-selected-item="batch.product"
						md-items="product in products | filter:searchText"
						md-item-text="product.name"
						id="products-autocomplete"
						placeholder="Produto"
						md-input-name="product"
						required>
					<md-item-template>
						<span md-highlight-text="searchText" md-highlight-flags="^i">{{product.name}}</span>
					</md-item-template>
					<md-not-found>Produto não encontrado</md-not-found>
					<div ng-messages="batchForm.product.$error">
						<div ng-message="required">Este campo é necessário.</div>
					</div>
				</md-autocomplete>
			</md-input-container>
			<md-input-container class="md-block">
				<label>Identificador</label>
				<input type="text" name="identifier" ng-model="batch.identifier" required>
				<div ng-messages="batchForm.identifier.$error">
					<div ng-message="required">Este campo é necessário.</div>
				</div>
			</md-input-container>
			<md-input-container class="md-block">
				<label>Quantidade</label>
				<input type="number" name="quantity" ng-model="batch.quantity" min="1" required>
				<div ng-messages="batchForm.quantity.$error">
					<div ng-message="required">Este campo é necessário.</div>
					<div ng-message="min">O lote deve conter pelo menos um item.</div>
				</div>
			</md-input-container>
			<div layout="row">
				<md-input-container class="md-block" flex>
					<label>Data de Fabricação</label>
					<input type="date" name="manufacturedAt" ng-model="batch.manufacturedAt" required>
					<div ng-messages="batchForm.manufacturedAt.$error">
						<div ng-message="required">Este campo é necessário.</div>
					</div>
				</md-input-container>
				<md-input-container class="md-block" flex>
					<label>Data de Vencimento</label>
					<input type="date" name="expiresAt" ng-model="batch.expiresAt" is-after="batch.manufacturedAt" required>
					<div ng-messages="batchForm.expiresAt.$error">
						<div ng-message="required">Este campo é necessário.</div>
						<div ng-message="isAfter">A data de vencimento deve ser depois da data de fabricação.</div>
					</div>
				</md-input-container>
			</div>
		</form>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<span flex></span>
		<md-button ng-click="cancel()" class="md-raised">Cancelar</md-button>
		<md-button ng-click="create()" ng-disabled="form.$invalid || model.tasks || !batch.product" class="md-raised md-primary">Registrar</md-button>
	</md-dialog-actions>
</md-dialog>
