<md-toolbar class="md-hue-1 filter-toolbar">
	<div class="md-toolbar-tools" layout="row">
		<p>Data Máxima de Vencimento:</p>
		<div class="search-box">
			<md-icon>date_range</md-icon>
			<input type="date" ng-model="model.filterData.maxDate">
		</div>
		<p>Nome do Produto:</p>
		<div class="search-box">
			<md-icon>search</md-icon>
			<input type="text" ng-model="model.filterData.productName" ng-model-options="{debounce: 500}" ng-keyup="handleSearchBoxKeyPress($event)">
		</div>
		<p>Identificador:</p>
		<div class="search-box">
			<md-icon>search</md-icon>
			<input type="text" ng-model="model.filterData.identifier" ng-model-options="{debounce: 500}" ng-keyup="handleSearchBoxKeyPress($event)">
		</div>
	</div>
</md-toolbar>
<md-progress-linear md-mode="indeterminate" ng-style="{'visibility': (tasks > 0) ? 'visible' : 'hidden'}"></md-progress-linear>
<div class="container md-whiteframe-1dp">
	<md-table-container>
		<table md-table class="data-table batch-table">
			<thead md-head md-order="model.order" md-on-reorder="sortTable" md-progress="fetchPromise">
				<tr md-row>
					<th md-column md-order-by="createdAt">Data de Chegada</th>
					<th md-column md-order-by="identifier">Identificação</th>
					<th md-column class="wide" md-order-by="product.name">Produto</th>
					<th md-column md-order-by="quantity">Quantidade</th>
					<th md-column md-order-by="manufacturedAt">Data de Fabricação</th>
					<th md-column md-order-by="expiresAt">Data de Vencimento</th>
					<th md-column>Status</th>
					<th md-column>Ações</th>
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row ng-repeat="batch in model.request.content">
					<td md-cell>{{batch.createdAt | date:'dd/MM/yyyy'}}</td>
					<td md-cell>{{batch.identifier}}</td>
					<td md-cell class="wide">{{batch.product.name}}</td>
					<td md-cell style="text-align: right">{{batch.quantity}}</td>
					<td md-cell>{{batch.manufacturedAt | date:'dd/MM/yyyy'}}</td>
					<td md-cell>{{batch.expiresAt | date:'dd/MM/yyyy'}}</td>
					<td md-cell>{{batch.expired ? 'Vencido' : 'A vencer'}}</td>
					<td md-cell style="text-align: right">
						<md-button class="md-raised md-primary" ng-click="registerOutgoing(batch.id)">Registrar Saída</md-button>
					</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
	<div ng-include="'/resources/views/partials/table-pagination.html'"></div>
</div>
