/**
 * Maldita GAS Tecnologia
 */

object[width="0"]
{
	display: none;
}

/**
 * Animação do login
 */

@keyframes slideDown
{
	from
	{
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}
	to
	{
		transform: translate3d(0, 0, 0);
	}
}

.login-box-outer-container
{
	margin-top: 50px;
	animation-name: slideDown;
	animation-duration: 0.75s;
	animation-fill-mode: both;
}

/**
 * Containers
 */

.login-box-container
{
	margin: 0 auto;
	max-width: 350px;
}

.container
{
	margin: 0 auto;
	margin-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

@media(min-width: 1280px)
{
	.container
	{
		margin: 0 25px;
		margin-top: 20px;
	}
}

@media(min-width: 1600px)
{
	.container
	{
		margin: 0 35px;
		margin-top: 20px;
	}
}

/**
 * Alinhando o h2 do cabeçalho
 */

.header-partial, .header-partial h2
{
	display: flex;
	align-items: center;
}

/**
 * Barra de filtros
 */

.filter-toolbar, .filter-toolbar .md-toolbar-tools
{
	font-size: 14px;
}

.filter-toolbar
{
	min-height: 48px;
}

.filter-toolbar .md-toolbar-tools
{
	height: 48px;
}

.filter-toolbar .md-toolbar-tools > *
{
	margin-right: 10px;
}

.filter-toolbar md-input-container.md-input-has-value label
{
	display: none;
}

.search-box
{
	background-color: #fff;
	border-radius: 3px;
	padding: 3px;
	display: flex;
}

.search-box > md-icon
{
	color: rgba(0, 0, 0, 0.53) !important;
}

.search-box input
{
	border: none;
	border-radius: 0;
	outline: 0;
	height: 24px;
	width: 200px;
}

/**
 * Tabelas de consulta
 */

.data-table th, .data-table td
{
	width: 1em;
	white-space: nowrap;
}

.data-table .wide
{
	width: auto;
}

/**
 * Tabelas de relatório
 */

table.report-table
{
	width: 100%;
	border-collapse: collapse;
	padding-bottom: 15px;
}

table.report-table td, table.report-table th
{
	padding: 5px;
	text-align: left;
	white-space: nowrap;
	width: 1em;
	border-bottom: 1px solid #aaa;
}

table.report-table td:nth-child(2), table.report-table th:nth-child(2)
{
	width: auto;
}

/**
 * Autocomplete no md-input-container
 */

#products-autocomplete input
{
	order: 0;
}

#products-autocomplete
{
	background: transparent;
}

#products-autocomplete > md-autocomplete-wrap
{
	box-shadow: none;
}
