<md-dialog aria-label="" class="md-datepicker" ng-class="{ 'portrait': !$mdMedia('gt-md') }">
	<md-dialog-content layout="row" layout-wrap>

		<div layout="column" layout-align="start center">
			<md-toolbar layout-align="center center" class="md-datepicker-dow md-primary"><span>{{ datepicker.currentMoment.format("dddd") }}</span></md-toolbar>
			<md-toolbar layout-align="center center" class="md-datepicker-date md-hue-1 md-primary" layout="column">
				<div class="md-datepicker-month">{{ datepicker.currentMoment.format("MMM") }}</div>
				<div class="md-datepicker-day">{{ datepicker.currentMoment.format("DD") }}</div>
				<md-select class="md-datepicker-year" placeholder="{{ datepicker.currentMoment.format('YYYY') }}" ng-model="year" ng-change="datepicker.setYear()">
					<md-option ng-value="year" ng-repeat="year in yearsOptions">{{ year }}</md-option>
				</md-select>
			</md-toolbar>
		</div>

		<div layout="column" layout-align="start center" class="md-datepicker-calendar">
			<div layout="row" layout-align="space-between center" class="md-datepicker-monthyear">
				<md-button aria-label="Mês anterior" class="md-icon-button" ng-click="datepicker.prevMonth()">
					<md-icon>chevron left</md-icon>
				</md-button>
				{{ datepicker.currentMoment.format("MMMM YYYY") }}
				<md-button aria-label="Mês seguinte" class="md-icon-button" ng-click="datepicker.nextMonth()">
					<md-icon>chevron right</md-icon>
				</md-button>
			</div>
			<div layout="row" layout-align="space-around center" class="md-datepicker-week-days">
				<div layout layout-align="center center" ng-repeat="d in datepicker.weekDays track by $index">{{ d }}</div>
			</div>

			<div layout="row" layout-wrap class="md-datepicker-days">
				<div layout layout-align="center center" ng-repeat-start="n in datepicker.getDaysInMonth() track by $index">
					<md-button aria-label="Seleciona dia" ng-if="n !== false" ng-class="{'md-accent': datepicker.currentMoment.date() == n}" ng-click="datepicker.selectDate(n)">{{ n }}</md-button>
				</div>
				<div flex ng-if="($index + 1) % 7 == 0" ng-repeat-end></div>
			</div>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button ng-click="datepicker.cancel()">Cancelar</md-button>
		<md-button ng-click="datepicker.confirm()">Selecionar</md-button>
	</md-dialog-actions>
</md-dialog>
<style>
.md-datepicker {
  max-height: initial;
}
.md-datepicker * {
  outline: 0;
}
.md-datepicker .md-select-label {
  min-width: 90px;
  border: 0 !important;
  padding-bottom: 0px !important;
}
.md-datepicker-week-days,
.md-datepicker-days {
  font-size: 0.75rem;
}
.md-datepicker-week-days .md-button,
.md-datepicker-days .md-button,
.md-datepicker-week-days > *,
.md-datepicker-days > * {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  min-width: 0px;
  min-height: 0px;
}
.md-datepicker-monthyear,
.md-datepicker-dow {
  font-size: 0.8125rem;
  min-height: 32px;
}
.md-datepicker-monthyear {
  font-weight: bold;
  width: 100%;
}
.md-datepicker-monthyear .md-button.md-icon-button {
  height: 36px;
  line-height: 36px;
  width: 36px;
}
.md-datepicker-month {
  font-size: 1.5rem;
}
.md-datepicker-day {
  font-size: 4.5rem;
  line-height: 6.0rem;
}
.md-datepicker-year {
  font-size: 1.5rem;
  margin: 0;
}
.md-datepicker-year .md-select-label {
  padding: 0;
  color: inherit !important;
}
.md-datepicker-date {
  padding: 35px 0;
}
.md-datepicker-calendar {
  margin-left: 10px;
	opacity: 1;
}
.md-datepicker md-dialog-content {
  overflow: hidden;
  padding: 0px;
}
.md-datepicker md-dialog-content > * {
  width: 224px;
}
.md-datepicker.portrait {
  width: 244px;
}
.md-datepicker.portrait .md-datepicker-calendar {
  margin-left: 0;
  text-align: center;
  overflow: auto;
}
.md-datepicker.portrait md-dialog-content > * {
  width: 100%;
}
.md-datepicker.portrait .md-datepicker-date {
  padding: 10px 0;
}
.md-datepicker.portrait .md-datepicker-dow,
.md-datepicker.portrait .md-datepicker-date,
.md-datepicker.portrait .md-datepicker-calendar {
  padding-left: 10px;
  padding-right: 10px;
}
.md-datepicker-days {
  font-size: 1rem;
  max-width: 100%;
}
.md-datepicker-days > * {
  cursor: pointer;
  border-radius: 50%;
}
.md-datepicker-day-marker {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
</style>
