<md-toolbar class="md-hue-1 filter-toolbar">
	<div class="md-toolbar-tools" layout="row">
		<md-input-container>
			<label>Status do Usuário</label>
			<md-select ng-model="model.filterData.active">
				<md-option ng-value="null">Status do Usuário</md-option>
				<md-option ng-value="true">Usuários Ativos</md-option>
				<md-option ng-value="false">Usuários Desativados</md-option>
			</md-select>
		</md-input-container>
		<md-input-container>
			<label>Perfil de Usuário</label>
			<md-select ng-model="model.filterData.profile">
				<md-option ng-value="null">Perfil de Usuário</md-option>
				<md-option ng-repeat="profile in model.profileOptions" value="{{profile.value}}">{{profile.name}}</md-option>
			</md-select>
		</md-input-container>
		<span flex></span>
		<div class="search-box">
			<md-icon>search</md-icon>
			<input type="text" ng-model="model.filterData.text" ng-model-options="{debounce: 500}" ng-keyup="handleSearchBoxKeyPress($event)">
		</div>
	</div>
</md-toolbar>
<md-progress-linear md-mode="indeterminate" ng-style="{'visibility': (tasks > 0) ? 'visible' : 'hidden'}"></md-progress-linear>
<div class="container md-whiteframe-1dp">
	<md-table-container>
		<table md-table class="data-table">
			<thead md-head md-order="model.order" md-on-reorder="sortTable" md-progress="fetchPromise">
				<tr md-row>
					<th md-column md-order-by="fullName" class="wide">Nome Completo</th>
					<th md-column md-order-by="email" class="wide">Email</th>
					<th md-column md-order-by="active">Ativo</th>
					<th md-column md-order-by="profile">Perfil</th>
					<th md-column ng-if="model.currentUser.admin()">Ações</th>
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row ng-repeat="user in model.request.content">
					<td md-cell class="wide">{{user.fullName}}</td>
					<td md-cell class="wide">{{user.email}}</td>
					<td md-cell>{{user.active ? 'Sim' : 'Não'}}</td>
					<td md-cell>{{user.profile == 'Administrator' ? 'Administrador' : 'Usuário'}}</td>
					<td md-cell style="text-align: right" ng-if="currentUser.admin()">
						<md-button ng-if="user.active" ng-click="deactivateUser(user)" class="md-primary md-raised">Desativar</md-button>
						<md-button ng-if="!user.active" ng-click="activateUser(user)" class="md-warn md-raised">Ativar</md-button>
						<md-button class="md-raised" ng-click="openEditUser(user.id)">Editar</md-button>
					</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
	<div ng-include="'/resources/views/partials/table-pagination.html'"></div>
</div>
<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="rightPanel" layout="column">
	<md-toolbar class="md-hue-2">
		<div class="md-toolbar-tools">
			<h2><span>{{user.fullName}}</span></h2>
		</div>
	</md-toolbar>
	<md-content layout-padding>
		<div ng-include="'/resources/views/users/users-edit.html'"></div>
	</md-content>
</md-sidenav>
